
.auth__main {
    text-align: center;
    padding-top: 80px;

}

.auth {
    background-color: rgb(64, 188, 179);
    border: 2px solid black;
    margin: 1px 0;
    border-radius: 2px;
}

.auth__form {
    padding-top: 100px;
    background-color: rgba(83, 123, 255, 0.801);
    height: 300px;
}

.auth__button {
    margin-top: 5px;
    background-color: rgb(156, 255, 247);
    border-radius: 2px;
    width: 189px;
    margin-bottom: 10px;

}
.auth__button:hover {
    background-color: rgb(105, 204, 197);
}

.auth__element_1 {
    width: 100px;
    height: 100px;
    background-color: rgb(124, 29, 118);
    border: 3px solid black;
    box-shadow: 1px 1px 20px 1px red;

}
.auth__element_2 {
    width: 200px;
    height: 200px;
    background-color: rgb(89, 237, 148);
    border: 3px solid black;
    box-shadow: 1px 1px 100px 10px rgb(67, 67, 208);
}
.auth__element_3 {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: rgb(234, 255, 98);
    border: 3px solid black;
    box-shadow: 1px 1px 20px 1px rgb(0, 200, 255);
}

.auth__element_6 {
    width: 100px;
    height: 100px;
    background-color: rgb(124, 29, 118);
    border: 3px solid black;
    box-shadow: 1px 1px 20px 1px red;

}
.auth__element_5 {
    width: 200px;
    height: 200px;
    background-color: rgb(89, 237, 148);
    border: 3px solid black;
    box-shadow: 1px 1px 100px 10px rgb(67, 67, 208);
}
.auth__element_4 {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: rgb(234, 255, 98);
    border: 3px solid black;
    box-shadow: 1px 1px 20px 1px rgb(0, 200, 255);

}

.auth__elements {
    margin-top: 100px;
 display: flex; 
 justify-content: space-around;
}

.authLink {
    color:rgba(0, 0, 0, 0.464);
    text-decoration: none;
}
.authLink:hover {
    color:rgba(255, 255, 255, 0.464);
    text-decoration: underline;
}


