.productById {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}

.productById_name {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.productById_title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.productById_image {
  background-color: #f8f8fa;
  width: 55%;
  height: 550px;
  text-align: center;
  overflow: hidden;
}

.cart_productById_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productById_characteristics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productById_description {
  width: 300px;
  margin-left: 20px;
}

.productById_description_individually {
  display: flex;
  margin-top: 20px;
  font-size: 13px;
}
.productById_description_individually_item {
  color: #8b8b8b;
}
.productById_description_individually_item_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.productById_description_individually_item_name:hover {
  white-space: normal;
}

.productById_emptiness {
  flex: 1;
  border-bottom: 1px dashed #8b8b8b;
}

.productById_price {
  font-size: 18px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.productById_basket {
  background-color: #5f5942;
  color: #ffff;
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.productById_basket.active {
  cursor: default;
  background-color: #6e6e6ec5;
  color: #b1b1b1;
}

.productById_price_product {
  font-size: 25px;
  font-weight: 600;
}

.productById_buy {
  width: 350px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(132, 130, 130);
}

.productById_discount {
  margin-left: 10px;
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.productById_description_individually_description {
  color: #8b8b8b;
  font-size: 15px;
}
.productById_description_individually_sum {
  font-size: 15px;
  padding: 5px;
}

.productById_description_individually_desc {
  margin-top: 20px;
  font-size: 18px;
  width: 78%;
}

details {
  padding: 5px;
  background-color: #eee;
  color: #6e6e6e;
  border: 1px #ccc solid;
  border-radius: 10px;
  cursor: pointer;
}

summary {
  list-style: none;
  text-align: center;
}

.prdct-r {
  width: 70%;
  display: flex;
  gap: 20px;
}

.prdct-l {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
