.container {
  margin: 40px 0 0 0;
}

.title {
  font-size: 25px;
  margin: 0 0 10px 0;
}

.categoriesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category {
  width: 450px;
  height: 200px;
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  margin-bottom: 5px;
}

.categoryImage {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 1s;
}

.categoryImage:hover {
  object-position: 50% 100%;
}
