.wrapper {
    width: 100%;
}

.c-zagolovok {
    color: black;
    margin-bottom: 50px;
    font-size: 23px;
    font-weight: 700;
}

.c-main {
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
}

.c-main div h1 {
    font-size: 22px;
    font-weight: 600;
}
.c-main div p {
    font-size: 19px;
}


/* background: linear-gradient(89.65deg, #E56B31 2.39%, #BE3690 99.79%); */