.container {
  margin-top: 50px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 178px;
  border-radius: 20px;
  overflow: hidden;
}

.pic {
  width: 100%;
  height: 237px;
  background-color: rgb(149, 149, 149);
  object-fit: cover;
  border-radius: 20px;
}

.info {
  padding: 10px;
  height: 40%;
  width: 100%;
  color: black;
}

.name {
  font-size: 17px;
  overflow: hidden;
  height: 30px;
  color: rgb(110, 110, 110)
}

.price {
  font-size: 18px;
}

.discount {
  text-decoration: line-through;
  font-size: 14px;
  margin-left: 10px;
  color: rgb(110, 110, 110)
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  width: 80%;
  height: 35%;
  margin: auto;
  color: aliceblue;
  background-color: rgb(83, 83, 83);
}
