*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}



.nav-header{
    background: linear-gradient(45deg, #dd2cc6, #3f0a69);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;
    top: 0;
}


.burger{
  display: inline-block;
  cursor: pointer;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 7px 4px 7px;
  margin-top: 50px;
  margin-left: 50px;
  
}

.bar1, .bar2, .bar3 {
    width: 37px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    
    
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  

.change .bar2 {
    opacity: 0;
}
  

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.nav-title{
    margin-top: 10px;
    color: white;
    padding: 0px 0px 0px 0px ;
    position: relative;
    right: 120px;

    
}

.nav_search {
    display: flex;
    margin-top: 2px;
    border-radius: 55px;
    width: 650px;
    height: 50px;
    background-color: rgb(236, 236, 236);
    opacity: 0.3;
    position: relative;
    right: 190px;
   
   
}

.nav_search:hover{
    color: white;
}
  
  .search_nav {
    width: 370px;
    background-color: transparent;
    border-radius: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    padding-left: 5px;
   
  }
  
  .search_icon {
    background-color: transparent;
    width: 18px;
    height: 16px;
    margin-top: 16px;
    margin-left: 17px;
    margin-right: 5px;
    cursor: pointer;
  }

.navbar{
    display: flex;
    align-items: center;
    
    
}

.navbar-img{
    position: relative;
    top: 15px;
    right: 170px;
    width: 28px;
    height: 28px;
    cursor: pointer;
   
}

.navbar-img-text{
    position: relative;
    top: 18px;
    right: 200px;
    color: rgb(206, 202, 202);
    cursor: pointer;
}

.navbar-img2{
    position: relative;
    top: 15px;
    right: 120px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  
}

.navbar-img-text2{
    position: relative;
    top: 18px;
    right: 135px;
    color: rgb(206, 202, 202);
    cursor: pointer;
}

.navbar-img3{
    position: relative;
    top: 15px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

.navbar-img-text3{
    position: relative;
    top: 17px;
    right: 70px;
    color: rgb(206, 202, 202);
    cursor: pointer;
}

.navbar-img-text:hover,
.navbar-img-text2:hover,
.navbar-img-text3:hover{
    color: white;
}


  
















