.m-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.m-removeBtn {
  background: none;
  border: none;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 36px;
  cursor: pointer;
  color: #888;
}

.m-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.m-items {
  border-radius: 10px;
  padding: 20px;
  background-color: #ededed;
}

.m-categoty {
  margin-bottom: 14px;
}

.m-categoty a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 18px;
  transition: 0.1s;
  border-radius: 10px;
  padding: 6px;
}

.m-categoty a:hover {
  color: #ececec;
  padding-left: 22px;
  background-color: #000000cc;
  font-weight: bold;
}

.m-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}

.m-drawer {
  height: 100vh;
  background-color: #fff;
  width: 360px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
}
