.overlay {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.drawer {


    position: absolute;
    width: 420px;
    height: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.btn-close {
    display: flex;
    justify-content: end;
}

button {
    width: 27px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid grey;
}

