body {
    background-color: #ffffff;
}

.block-11 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-1 p {
    margin-left:35px;
    color:rgb(146, 143, 143);
    font-style: italic
}

.block-1 p:hover{
    color: #740774; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px rgb(48, 46, 46);
    -moz-text-shadow: 2px 2px 2px rgb(255, 241, 241);
        text-shadow: 2px 2px 2px rgb(114, 113, 113);
  }

.block_1 {
    margin-left:35px;
    font-weight: 600
}

.block-2 {
    font-stretch: ultra-condensed;
    margin-right:500px
}

.block-2 p:hover{
    color: #740774; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px rgb(48, 46, 46);
    -moz-text-shadow: 2px 2px 2px rgb(255, 241, 241);
        text-shadow: 2px 2px 2px rgb(114, 113, 113);
}

.block-3 {
    font-stretch: ultra-condensed;
    margin-left:35px;
    margin-top:45px
}