.purchase_returns {
  font-weight: 900;
}

.pointe {
  border-bottom: 0.1rem solid;
  color: black;
  cursor: pointer;
}

.pointe:hover {
  border: none;
}
.return_point {
  font-weight: 500;
}
.refund {
  color: #9a8b8b;
  font-size: 19px;
  border-bottom: 0.1rem solid #e8e8e8;
  padding: 20px 0;
}
.cashless {
  font-weight: 600;
  font-size: 19px;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}

.container_cashless {
  border-bottom: 0.1rem solid #e8e8e8;
}

.down_img {
  width: 20px;
  width: 20px;
}
.app_img {
  width: 20px;
  width: 20px;
}
.down {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.app {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.oplata {
  display: flex;
  justify-content: space-between;
}
