.service__container {
    padding: 40px;
}

.service__container_1 {
    padding: 40px 40px 0;
}

.service__header {
    display: flex;
    justify-content: space-between;
}

.service__header_active {
    border-bottom: 3px solid #8b8b8b;
    height: 34px;
    color: black;
}

.service__header_1 {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
}

.service__header a {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 4px;
    color: #8b8b8b;
    list-style: none;
}
.service__header_1 a {
    font-size: 20px;
    line-height: 22px;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 4px;
    list-style: none;
}
.service__header_1 a:hover {
    cursor: pointer;
    border-bottom: 3px solid #8b8b8b;
    height: 34px;
    transition: 0.1s;
    color: black;
}

.service__header a:hover {
    cursor: pointer;
    border-bottom: 3px solid #8b8b8b;
    height: 34px;
    transition: 0.1s;
    color: black;
}