.purchase_returns{
	font-weight: 700;
}
.pointe{
	border-bottom: 0.1rem solid;
	color: black;
	cursor: pointer;
}

.pointe:hover{
	border: none;
}
.return_point{
	font-weight: 500;
}
.refund{
	color: #9A8B8B;
	font-size: 19px;
	border-bottom: 0.1rem solid #E8E8E8;
	width: 1300px;
	padding: 20px 0;
}
.cashless{
	font-weight: 600;
	font-size: 19px;
	width:100%;
	padding: 20px 0;
	cursor: pointer;
	
}

.container_cashless{
	width: 1300px;
	border-bottom: 0.1rem solid #E8E8E8;
}

.down_img{
	width: 20px;
	width: 20px;
}
.app_img{
	width: 20px;
	width: 20px;
}
.down{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.app{
	cursor: pointer;
	display: flex;
	align-items: center;

}
.oplata{
	display: flex;
	justify-content: space-between;
	width: 1300px;
}