body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    padding-top: 45px;
    padding-bottom: 45px;
    background: rgb(72, 3, 104);
    color: rgb(185, 183, 183);
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
     
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer-row b {
    margin: 0;
    margin-bottom: 10px;
    font-size:16px;
    font-weight: 600;
    line-height: 130%;
    }

    .footer-row b:hover{
        color: #fdfdfd; /* Меняем цвет текста */
        -webkit-text-shadow: 2px 2px 2px #000;
        -moz-text-shadow: 2px 2px 2px #000;
            text-shadow: 2px 2px 2px #000;
      }
           

.footer-row p {
    cursor: pointer;
    
    
}

.footer-row p:hover {
box-shadow: 0px 0px 5px 5px rgba(76, 0, 255, 0.2);

color: #fcfcfc;
background: #413c3c; /* Цвет фона */
}

.container-6 {
    height: 15em;
    display: flex;
    align-items: center;
    text-align: center;
  padding: 10%;
    width: 100%;
    justify-content:center
}
.container-6:hover {
    text-decoration: underline;
}

.white {
    margin-bottom: 25px;
}







