body {
  margin: 0;
  font-family: "Comfortaa";
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  background: rgb(41, 41, 41);
  color: rgb(185, 183, 183);
}


.container__foot {
  padding: 10px;
  width: 1440px;
}

.footer::before {
  content: "";
  display: block;
  background: #fff;
  border-radius: 0 0 24px 24px;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  left: 0;
}

.footer-row {
  display: flex;
  /* justify-content: center; */
  gap: 40px;
}

.container-3 {
  width: 150px;
}

.footer-row b {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.footer-row p {
  cursor: pointer;
}

.footer-row p:hover {
  color: #fcfcfc;
}

.container-6 {
  display: flex;
  padding-top: 100px;
  align-items: center;
  text-align: center;
  font-size: 16px;
  justify-content: center;
}

.white {
  margin-bottom: 25px;
}

.container-4 a {
  color: rgb(185, 183, 183);
}

.container-4 a:hover {
  color: #fcfcfc;
}

.container-3 p {
  color: rgb(185, 183, 183);
}
.container-1 p {
  color: rgb(185, 183, 183);
}

.youareadmin {
  color: #07460f;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa/Comfortaa-Medium.ttf") format("truetype");
}
